body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(133, 204, 237);
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555
}

.navbar {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
.nav-head {
        display: flex;
        align-items: center;
        justify-content: center;
}
.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
.nav-tx {
    margin: 0;
}
.list {
    list-style-type: none;
    padding: 0;
}
.list li {
    display: inline;
    margin: 0 15px;
}
.list a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.list a:hover {
    text-decoration: underline;
}
.banner {
    position: relative;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.img-banner {
    max-width: 90%;
    height: auto;
    box-shadow: 7px 7px 0 1px rgba(0, 0, 0, 0.7);
}
.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
  
.scroll-container img {
    padding: 10px;
}

.inform {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    border-radius: 24px;
}
.name {
    background-color: rgb(71, 71, 141);
    border-radius: 10px;
    color: white;
    padding: 10px;
    padding-left: 24px;
}
.name h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.name p {
    font-size: 16px;
}
.info{
    display: flex;
    justify-content: space-between;
}
.m-info {
    width: 70%;
    background-color: white;
    padding: 20px;
}
.album-list h2 {
    color: white;
    background-color: rgb(71, 71, 141);
    padding: 10px 30px;
    border-radius: 7px;
}
.album-list p {
    padding-left: 24px;
    margin-right: 70px;
}
.album-ll {
    display: flex;
    align-items: flex-start;
    gap: 150px;
    padding-bottom: 20px;
}
.album-ll img {
    cursor: pointer;
    max-width: 250px;
    height: auto;
}
.song-li {
    list-style-type: disc;
    margin: 0;
    padding: 0;
}
.side {
    width: 25%;
    background-color: white;
    border-left: 5px solid black;
    padding: 20px;
}
.side h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.side ul {
    list-style-type: disc;
    padding-left: 20px;
}

.side ul li {
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer .container {
    max-width: 1100px;
    margin: 0 auto;
}

.footer p {
    margin-bottom: 10px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}

.footer-links li {
    display: inline;
    margin-right: 15px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-top: 10px;
}

.social-icon {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
}

.social-icon:hover {
    text-decoration: underline;
}